/* Home.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f0f0f0; /* Cor de fundo leve; ajuste conforme necessário */
    box-shadow: 0 2px 5px rgba(0,0,0,0.10);
}

.navbar-logo {
    height: 50px; /* Altura do logo */
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a, .navbar-links button {
    color: #336699; /* Cor do texto */
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.navbar-links button {
    background: none;
    border: none;
    cursor: pointer;
}

.hero-section {
    position: relative;
    width: 100vw; /* Largura para ocupar toda a largura da viewport */
    height: 100vh; /* Altura para ocupar toda a altura da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Evita barras de rolagem indesejadas */
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../static/home.jpg'); /* Certifique-se que o caminho está correto */
    background-size: cover; /* Garante que a imagem cubra todo o espaço disponível sem ser distorcida */
    background-position: center; /* Centraliza a imagem na seção */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo textual verticalmente */
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}
